
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
 
  #container{
    
      display:grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: repeat(24,5vw);
      background-color: #ffffff;
      padding: 10px;
      
  }
  .item {
    border: 1px solid rgba(0, 0, 0, 0.8);
 
  }

#navbar{
    
grid-column:1/13;
grid-row:1/2;

}

#hello{
    grid-column: 1/13;
    grid-row: 3/10;
}


#myname{
    grid-column:3/13;
    grid-row:4/10;
    
}


#mywork{
    grid-row: 10/11;
    grid-column:1/13;
    text-align: center;
}
#calculator{
    grid-row: 11/17;
    grid-column: 1/4;
}

#cockroach{
    grid-row: 11/17;
    grid-column: 4/7;
}

#googlePage{
    grid-row: 11/17;
    grid-column: 7/10;
   
}
#sketch{
    grid-row: 11/17;
    grid-column:10/13;
}


#stack{
    grid-row: 17/18;
    grid-column:1/13;
    text-align:center;
}
#html{
    grid-row:19/21;
    grid-column: 1/4;
}
#css{
    grid-row:19/21;
    grid-column: 4/8;
}
#js{
    grid-row:19/21;
    grid-column: 8/13;
}
#contact{
    grid-row:21/22;
    grid-column:1/13;
    text-align: center;
}
#github{
    grid-row: 22/23;
    grid-column:1/4;
}
#twitter{
    grid-row: 22/23;
    grid-column: 4/7;
}
#facebook{
    grid-row: 22/23;
    grid-column: 7/10;
}
#email{
    grid-row: 22/23;
    grid-column:10/13;
}
.picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  
 
  
  .glitch {
    color: rgb(14, 13, 13);
    position: relative;
    font-size: 9vw;
    // margin: 70px 200px;
    animation: glitch 5s 5s infinite;
    font-size: 70px;
    
  }
  
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  }
  
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }
  
  @keyframes glitch {
    1%{
      transform: rotateX(10deg) skewX(90deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  
  @keyframes noise-1 {
    $steps: 30;
    @for $i from 1 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }
  
  @keyframes noise-2 {
    $steps: 30;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }
  
  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
  }
  
  .scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
    background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      rgba(255, 255, 255, 0.05) .5%,
      transparent 1%
    );
  
    animation: fudge 7s ease-in-out alternate infinite;
  }
  
  
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 2%);
    }
  }
  
  .glow {
    @extend .glitch;
    text-shadow: 0 0 1000px rgb(223, 191, 191);
    color: transparent;
    position: absolute;
    top: 0;
  }
  
  .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: .8vw;
    color: rgba(165, 141, 141, .4);
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;
    position: absolute;
    left: 17%;
    animation: glitch-2 5s 5.02s infinite;
  }
  
  @keyframes glitch-2 {
    1%{
      transform: rotateX(10deg) skewX(70deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  
  
