
  #container{
      max-height: 150vh;
      display:grid;
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: repeat(24,1fr);
      background-color: #ffffff;
      padding: 10px;
      
  }
  .item {
    border: 1px solid rgba(0, 0, 0, 0.8);
 
  }

#navbar{
    
grid-column:1/13;
grid-row:1/2;

}

#hello{
    grid-column: 1/13;
    grid-row: 2/10;
}

#myname{
    grid-column:1/13;
    grid-row:5/10;
    
}

/*
#mywork{
    grid-row: 10/11;
    grid-column:1/13;
    text-align: center;
}
#calculator{
    grid-row: 11/18;
    grid-column: 1/4;
}

#cockroach{
    grid-row: 11/18;
    grid-column: 4/7;
}

#googlePage{
    grid-row: 11/18;
    grid-column: 7/10;
}
#sketch{
    grid-row: 11/18;
    grid-column:10/13;
}


#stack{
    grid-row: 18/19;
    grid-column:1/13;
    text-align:center;
}
#html{
    grid-row:19/21;
    grid-column: 1/4;
}
#css{
    grid-row:19/21;
    grid-column: 4/8;
}
#js{
    grid-row:19/21;
    grid-column: 8/13;
}
#contact{
    grid-row:21/22;
    grid-column:1/13;
    text-align: center;
}
#github{
    grid-row: 22/23;
    grid-column:1/3;
}
#twitter{
    grid-row: 22/23;
    grid-column: 3/5;
}
#facebook{
    grid-row: 22/23;
    grid-column: 5/7;
}
#email{
    grid-row: 22/23;
    grid-column:7/9;
}*/