@font-face{
    font-family:newFont;
    src:url(slkscr.ttf);
  }

  

  /* Generic styles */
  html {
    scroll-behavior: smooth;
    font-family:newFont;
  }
  
  a {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
  }
  
  a:hover {
    opacity: .6;
  }

/*glitch part*/

.glitch {
    color: rgb(14, 13, 13);
    position: relative;
    font-size: 9vw;
    // margin: 70px 200px;
    animation: glitch 5s 5s infinite;
    font-size: 120px;
    font-family: newFont;
    
  }
  
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
  }
  
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
  }
  
  @keyframes glitch {
    1%{
      transform: rotateX(10deg) skewX(90deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }
  
  @keyframes noise-1 {
    $steps: 30;
    @for $i from 1 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }
  
  @keyframes noise-2 {
    $steps: 30;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        $top: random(100);
        $bottom: random(101 - $top);
        clip-path: inset(#{$top}px 0 #{$bottom}px 0);
      }
    }
  }
  
  .scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
  }
  
  .scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
    
  
    animation: fudge 7s ease-in-out alternate infinite;
  }
  
  
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 2%);
    }
  }
  
  .glow {
    @extend .glitch;
    text-shadow: 0 0 1000px rgb(223, 191, 191);
    color: transparent;
    position: absolute;
    top: 0;
  }
  
  .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: .8vw;
    color: rgba(165, 141, 141, .4);
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;
    position: absolute;
    left: 17%;
    animation: glitch-2 5s 5.02s infinite;
  }
  
  @keyframes glitch-2 {
    1%{
      transform: rotateX(10deg) skewX(70deg);
    }
    2%{
      transform: rotateX(0deg) skewX(0deg);
    }
  }

  /*CSS GRID*/
  .glitchPart{
    background-size: cover;
    /*it's not total web responsive bcs of these margins*/
    margin-top: 6rem;
    margin-left: 2rem;
    padding: 4rem 2rem;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
  }
 
  #myname{
    background-size: cover;
    margin-top: -7rem;
    margin-left: 7rem;
    padding: 4rem 2rem;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
  }
  #myWork{
      text-align:center;
  }
 
/* portfolio part*/

  .portfolio {
    padding: 2rem;
  }
  
  .portfolio > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  
  .portfolio > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }
  
  .portfolio > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    
  }
  
  .portfolio > ul > li > figure > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
 
  
  .portfolio > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .portfolio > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .portfolio > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .portfolio > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }
  /*remove the annoying dots */
  li{
      color: white;
  }
  /* footer */
  #foot {
    background-color: #333;
    padding: .75rem;
    color: white;
    text-align: center;
    font-size: .75rem;
    margin-top: 200px;
    
  }